{% extends "layout.html" %}

{% block content %}
<h1>ONE LINE DIARY</h1>


<form action="/posts" method="post">
    <input type="text" name="diary_entry" placeholder="きょうのきもち" class="diary_input">
    <button type="submit">送信</button>
</form>


<br>
<hr>
<br>

{% for post in posts_all %}
<div class="post">
    <span class="emoji">{{ post.emoji }}</span>
    <span class="content">{{ post.content }}</span>
    <span class="date">{{ post.date.strftime('%Y-%m-%d %H:%M') }}</span>
</div>


{% endfor %}
<br>
<hr>
<a href="/edit">編集</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/logout">ログアウト</a>
<br>
<hr>
<br>
<a href="/user_delete_confirm">ユーザー削除</a>

{% endblock %}